<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.intencity.intencity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- We use this for the location services from google so we can get fitness locations. -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".view.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <activity
            android:name=".view.activity.DemoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.LoginActivity"
            android:label="@string/sign_in"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <!-- We set the title in the activity -->
        <activity
            android:name=".view.activity.CreateAccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:label="@string/title_forgot_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.TermsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.StatActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.Direction"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.SearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.RoutineIntencityActivity"
            android:label="@string/title_featured_routines"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.RoutineIntencityEditActivity"
            android:label="@string/edit_custom_routines_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.RoutineSavedActivity"
            android:label="@string/title_saved_routines"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.RoutineSavedEditActivity"
            android:label="@string/edit_saved_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.RoutineIntencityAddActivity"
            android:label="@string/add_routines_title"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.OverviewActivity"
            android:label="@string/title_overview"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.MenuActivity"
            android:label="@string/title_menu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.AboutActivity"
            android:label="@string/title_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.NotificationActivity"
            android:label="@string/title_notifications"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.ExercisePriorityActivity"
            android:label="@string/edit_priority"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.EquipmentActivity"
            android:label="@string/edit_equipment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.EquipmentEditActivity"
            android:label="@string/edit_equipment"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:label="@string/change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.DeleteAccountActivity"
            android:label="@string/title_delete_account"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.ExerciseSearchActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Base"/>

        <activity
            android:name=".view.activity.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Overlay"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.intencity.intencity.view.activity.OverviewActivity"
            android:grantUriPermissions="true"
            android:exported="false">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/paths" />

        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzYizR_UQpZ3sNrYOB-dNx8uLGM_SnHEM"/>

    </application>

</manifest>