<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.intencity.intencity"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/intencity_icon"
        android:label="@string/app_name">

        <activity
            android:name=".view.activity.MainActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".view.activity.DemoActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".view.activity.CreateAccountActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_create_account"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ForgotPasswordActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_forgot_password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.TermsActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.StatActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.Direction"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.SearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.AboutActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_about"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.NotificationActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_notifications"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.MenuActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_menu"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ExclusionActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/edit_exclusion"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.EquipmentActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/edit_equipment"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/change_password"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.DeleteAccountActivity"
            android:theme="@style/AppTheme.Base"
            android:label="@string/title_delete_account"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.ExerciseSearchActivity"
            android:theme="@style/AppTheme.Base"
            android:screenOrientation="portrait" />

    </application>

</manifest>
